.header {
  background: none;
  color: white;
  font-weight:bold;
  padding: 20px;
}

.header h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
  /* color: rgb(221, 221, 221); */

}

