.header {
  background: none;
  color: white;
  font-weight:bold;
  padding: 15px;
}

.header h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  font-weight:normal;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .nav {
    gap: 7px;
  }
}